<div class="b">
    <nav *ngIf='!isAdminUrl' class="navbar navbar-expand-lg navbar-light bg-red">
        <a class="navbar-brand" href="#"><h1>E-Shop</h1></a>
        <img src="./../../../../assets/cart.png"  routerLink="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" *ngIf='isLoggedIn'>
                    <a class="nav-link" routerLink=""><h3>Store</h3><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" *ngIf='isAdmin$ | async'>
                    <a class="nav-link" routerLink="/admin"><h3>Admin Dashboard</h3></a>
                </li>
    
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item active" *ngIf='isLoggedIn'>
                    <a class="nav-link" routerLink='/orders'><h3>Orders</h3><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" *ngIf='isLoggedIn'>
                    <a class="nav-link" routerLink="/cart"><h3>Cart <span class="badge badge-primary">{{numberOfItems}}</span></h3><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" *ngIf='!isLoggedIn'>
                    <a class="nav-link" routerLink="/login"><h3>Login</h3><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" *ngIf='isLoggedIn'>
                    <a class="nav-link" (click)='logout();' href="javascript:void(0);"><h3>Logout</h3></a>
                </li>
                <li class="nav-item" *ngIf='!isLoggedIn'>
                    <a class="nav-link" routerLink="/signup"><h3>Signup</h3></a>
                </li>
    
            </ul>
    
        </div>
    </nav>
</div>
