<div class="card mb-2" style="width: 18rem;">
    <img src="/api/{{product.productImage}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h6 class="card-title">{{product.name}}</h6>
        <p class="card-text"> <b>{{product.price | currency :'INR' }}</b></p>
    </div>
    <div class="card-footer p-0">
        <a *ngIf='!quantity else cartQuantity ' class="btn-block btn btn-block btn btn btn-danger active" (click)='addToCart();'>Add To Cart</a>

        <ng-template #cartQuantity>
            <app-product-quantity [product]='product'></app-product-quantity>
        </ng-template>
    </div>
</div>