<!-- <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
  </div> -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<footer id="a" class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h1>E-SHOP</h1>
        <img src="assets/cart.png" />
        <p class="text-justify"></p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Get-Started</h6>
        <ul class="footer-links">
          <li>
            <a href="http://scanfcode.com/category/c-language/">E-shop</a>
          </li>
          <li>
            <a href="http://scanfcode.com/category/front-end-development/"
              >Orders</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/category/back-end-development/"
              >Cart</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/category/java-programming-language/"
              >status</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/category/java-programming-language/"
              >login/signup</a
            >
          </li>
          <li><a href="http://scanfcode.com/category/android/">status</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li>
            <a href="http://scanfcode.com/category/c-language/">Mobiles</a>
          </li>
          <li>
            <a href="http://scanfcode.com/category/front-end-development/"
              >cloths</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/category/back-end-development/"
              >Shoes</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/category/java-programming-language/"
              >Books</a
            >
          </li>

          <li>
            <a href="http://scanfcode.com/category/java-programming-language/"
              >Grocery</a
            >
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Support</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li>
            <a href="http://scanfcode.com/contribute-at-scanfcode/"
              >Contribute</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a>
          </li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2020 All Rights Reserved by
          <a href="#"><h3>Yash Verma</h3></a>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-google"></i></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-instagram"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-pinterest"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
